.container{
    margin: 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.verh-p{
    color: #000;
    text-align: center;
    font-family: Karla;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    margin-top: 0;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}