.inp-t{
    border-radius: 40px;
    background: #F2F2F2;
    box-shadow: 4px 4px 16px 0px rgba(1, 28, 64, 0.20);
    color: rgba(33, 33, 33, 0.80);
    height: 53px;
    flex-shrink: 0; 
    border: none;
    /* paragraph */
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 30px;
    margin-bottom: 25px;
}